#faqs {
    align-items: center;
    background-attachment: fixed;
    background-color: var(--blue);
    background-image: url('../images/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

h1.faqs-title {
    color: var(--white);
    font-size: var(--eg);
    padding-bottom: 3%;
    padding-top: 5%;
    text-align: center;
    width: auto;
}

h2.privacy-title {
    font-size: var(--md);
    font-weight: 500;
}

li.question-container {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--black);
    color: var(--black);
    font-weight: 800;
    list-style: none;
    margin: 20px;
    padding: 20px 20px 10px 10px;
    cursor: pointer;
}

p.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

p.answer.active {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

@media (max-width: 457px) {
    h2.privacy-title {
        font-size: var(--ssm);
        font-weight: 700;
    }

    p.answer {
        font-size: var(--ssm);
    }
}