{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-container">
    <div class='hero-banner'>
        <div class='content-box'>
            <p class='main-message'>If you travel to Atlanta for pleasure or business, FiveStar Car service helps you
                move around the City comfortably and safely 24 hours a day.</p>
            <h1 class='just-time'>Just in time with&nbsp;<span> FiveStars.</span></h1>
        </div>
        <img src="{% static 'images/white-corolla.png' %}" alt="Toyota Corolla" class="white-corolla" />
    </div>
    </div>
    <div class='main-form' id='booking'>
        <h1 class='title'>Quote your trip and book with us, to live the <span> best experience.</span>&nbsp;Just in time
            with <span>FiveStars.</span></h1>
        <form class="p-4 p-md-5 border rounded-3" id='form' method="post">
            {% csrf_token %}
            <div class="single-input">
                <label htmlFor="" id='label-google'>Pick Up</label>
                {{ form.pick_up_location }}
            </div>
            <div>
                <div class="single-input">
                    <label htmlFor="" id='label-google'>Pick Up</label>
                    {{ form.drop_off_location }}
                </div>
            </div>
            <div id="double-input">
                {{ form.full_name }}
                {{ form.email }}
            </div>
            <div id="double-input">
                {{ form.hour }}
                {{ form.date }}
            </div>
            <div id="double-input">
                {{ form.flight_id }}
                {{ form.payment_method }}
            </div>
            <div id="double-input">
                {{ form.passengers }}
                {{ form.phone }}
            </div>
            <div class="row input-btn-padding-x mb-3">
                {{ form.observations }}
            </div>
            <div class="row input-btn-padding-x mb-3">
                {{ form.referrals }}
            </div>
            <div class="row input-btn-padding-x mb-3">
                {{ form.type_of_service }}
            </div>
            <button id="send" class="w-100 btn btn-lg btn-primary" type="submit">Book your Trip</button>
            <hr class="my-4" />
            <small class="text-muted">By clicking Your Booking, you agree to the terms of use.</small>
        </form>
</section>
{% endblock %}