{% extends 'section_base.html' %}
{% block content %}
<form class="contact-form" id='contact' method='post'>
    {% csrf_token %}
    <h1 class='contact-input-f'>Contact Us</h1>
    <div class='contact-input'>
        <label htmlFor="name">Name</label>
        {{ form.full_name }}
    </div>
    <div class='contact-input'>
        <label htmlFor="email">Email</label>
        {{ form.email }}
    </div>
    <div class='contact-input'>
        <label htmlFor="email">Message</label>
        {{ form.message }}
    </div>
    <button id="send" type="submit">Send</button>
</form>

{% endblock %}